* {
    padding: 0px;
    margin: 0px;
    font-family: 'Raleway', sans-serif;
    box-sizing: border-box;
}

body {
    margin: 0 auto;
}
                                                /*Section .....*/
/*##########################################################################################################*/
/*##########################################################################################################*/

#flex-parent {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-around;
}

#main-nav-container {
    flex-basis: 100%;
    flex-grow: 0;
    flex-shrink: 0;
    order: 1;
}
#home-aside-container {
    flex-basis: 30%;
    flex-grow: 0;
    flex-shrink: 0;
    order: 2;
}

#home-article-container {
    flex-basis: 50%;
    flex-grow: 0;
    flex-shrink: 0;
    order: 3;
}

/*Section .....*/
/*##########################################################################################################*/
/*##########################################################################################################*/

ul {
    list-style-type: none;
    text-align: center;
}

li {
    display: inline;
}

li a {
    text-decoration: none;
    font-size: 24px;
    border-bottom: 1px solid black;
    padding: 10px 10px;
    color: black;
    display: block;
    width: 25.3%;
    margin-left: 4%;
    margin-right: 4%;
    float: left;
}

a:hover {
    background-color: #2d2d2d;
    color: white;
}

/*Section .....*/
/*##########################################################################################################*/
/*##########################################################################################################*/

.home-aside, .home-article {
    margin-top: 100px;
    padding: 10px 25px 10px 25px;
    /*height: 65vh;*/
    background-color: #2d2d2d;
    box-shadow: 5px 10px 8px #888888;
    border-radius: 5px;
    color: white;
}

#home-aside-header, #home-article-header {
    color: white;
    margin-bottom: 10px;
    letter-spacing: 5px;
    font-size: 50px;
    font-family: 'Anton', sans-serif;
}

#home-article-content {
    margin-top: 20px;
}

label {
    color: white;
}

input {
    width: 100%;
    height: 40px;
    margin-bottom: 20px;
    padding: 0 15px;
    border: 1px solid white;
    border-radius: 15px;
}

::-webkit-input-placeholder {
    color: dimgrey;
    font-size: 16px;
}

/*Section .....*/
/*##########################################################################################################*/
/*##########################################################################################################*/

#flex-picture {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-around;
}

#picture-container {
    flex-basis: 50%;
    flex-grow: 0;
    flex-shrink: 0;
    order: 1;
}

#picture-aside-container {
    flex-basis: 30%;
    flex-grow: 0;
    flex-shrink: 0;
    order: 2;
}

#grid-parent {
    margin-top: 100px;
    display: grid;
    grid-template-columns: repeat(2, 25vw);
}

.picture-aside {
    padding: 10px 25px;
    margin-top: 100px;
    height: 600px;
    background-color: #2d2d2d;
    box-shadow: 5px 10px 8px #888888;
    border-radius: 5px;
    color: white;
}

#picture-aside-header {
    color: white;
    margin-bottom: 10px;
    letter-spacing: 5px;
    font-size: 50px;
    font-family: 'Anton', sans-serif;
}

#picture-aside-content {
    margin: 10px 0 20px 0;
}

img {
    border: 10px solid black;
    width: 25vw;
    height: 25vw;
}

/*Section .....*/
/*##########################################################################################################*/
/*##########################################################################################################*/

#flex-skills {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    margin: 50px 0 100px 0;
}

#img-html {
    flex-basis: 20%;
    flex-grow: 0;
    flex-shrink: 0;
    order: 1;
}

#html-article {
    flex-basis: 50%;
    flex-grow: 0;
    flex-shrink: 0;
    order: 2;
}

#img-css {
    flex-basis: 20%;
    flex-grow: 0;
    flex-shrink: 0;
    order: 3;
}

#css-article {
    flex-basis: 50%;
    flex-grow: 0;
    flex-shrink: 0;
    order: 4;
}

#img-cSharp {
    flex-basis: 20%;
    flex-grow: 0;
    flex-shrink: 0;
    order: 5;
}

#cSharp-article {
    flex-basis: 50%;
    flex-grow: 0;
    flex-shrink: 0;
    order: 6;
}

.skil-header {
    color: white;
    margin-bottom: 10px;
    letter-spacing: 5px;
    font-size: 30px;
    font-family: 'Anton', sans-serif;
}

.skills-logos {
    margin: 2% 0 0 15%;
    border: none;
    width: 200px;
    height: 200px;
}

.articleclass {
    border: 1px solid black;
    margin: 2% 15% 0 0;
    padding: 10px 25px;
    background-color: #2d2d2d;
    box-shadow: 5px 10px 8px #888888;
    border-radius: 5px;
    color: white;
}

@media screen and (max-width: 1200px) {
    li a {
        font-size: 20px;
    }

    #home-aside-container {
        flex-basis: 90%;
        order: 3;
    }

    #home-article-container {
        flex-basis: 90%;
        order: 2;
    }

    #home-article-header {
        font-size: 40px;
    }

    #home-article-content {
        font-size: 15px;
    }

    #picture-container {
        flex-basis: 90%;
        flex-grow: 0;
        flex-shrink: 0;
        order: 2;
    }

    #picture-aside-container {
        flex-basis: 90%;
        flex-grow: 0;
        flex-shrink: 0;
        order: 1;
    }

    #grid-parent {
        margin-top: 50px;
        grid-template-columns: repeat(2, 45vw);
    }

    .picture-aside {
        height: auto;
    }

    #picture-aside-header {
        font-size: 40px;
    }

    img {
        width: 45vw;
        height: 45vw;
    }

    .skills-logos {
        margin: 2% 40% 0 40%;
        width: 15vw;
        height: 15vw;
    }

    .articleclass {
        margin: 2% 25% 7% 25%;
    }
}